<div>
	<h2>Login</h2>

	<div aria-live="assertive" role="alert" class="error" v-show="error" v-transition="fade">
		<button v-on="click: close">&times;</button>
		<p>{{error}}</p>
	</div>

	<form>
		<div>
			<label for="email">Email <small title="Required">*</small></label>
			<input id="email" type="email" v-model="auth.email" minlength="5" maxlength="512" required>
		</div>
		<div>
			<label for="password">Password <small title="Required">*</small></label>
			<input id="password" type="password" v-model="auth.password" minlength="8" maxlength="256" required>
		</div>
		<p>
			<button type="submit" v-on="click: authUser" class="full-width-button" v-attr="disabled: !auth.email || !auth.password">Login</button>
		</p>
		<div class="button-group">
			<div class="left">
				<a href="#/register">Create Account</a>
			</div>
			<div class="right">
				<a href="#/help">Lost Password</a>
			</div>
		</div>
		<p class="divider-for-alt">&mdash; Or &mdash;</p>
		<p class="alt-actions">
			<a href="/auth/google?returnTo={{returnPath}}" class="social-auth auth-google">Login with Google</a>
		</p>
	</form>
</div>