<div>
	<h2>Login</h2>
	<div class="error" v-show="errorMsg" v-transition="fade">{{errorMsg}}</div>
	<form>
		<div>
			<label for="email">Email</label>
			<input id="email" type="email" v-model="user.email">
		</div>
		<div>
			<label for="password">Password</label>
			<input id="password" type="password" v-model="user.password">
		</div>
		<p>
			<button type="submit" v-on="click: authUser" class="full-width-button">Login</button>
		</p>
		<div class="button-group">
			<div class="left">
				<a href="javascript:void()" v-on="click: signUp">Create Account</a>
			</div>
			<div class="right">
				<a href="javascript:void()" v-on="click: lostPassword">Lost Password</a>
			</div>
		</div>
		<p class="alt-actions">
			<a href="/auth/google?returnTo={{returnPath}}" class="social-auth auth-google">Login with Google</a>
		</p>
		<!-- <pre>{{item | json 2}}</pre> -->
	</form>
</div>