<div>
	<h2>Create Account</h2>

	<div aria-live="assertive" role="alert" class="error" v-show="error" v-transition="fade">
		<button v-on="click: close">&times;</button>
		<p>{{error}}</p>
	</div>

	<form>
		<div>
			<label for="email">Email <small title="Required">*</small></label>
			<input id="email" type="email" v-model="account.email" minlength="5" maxlength="512">
		</div>
		<div>
			<label for="password">Password <small title="Required">*</small></label>
			<input id="password" type="password" v-model="account.password" minlength="8" maxlength="256">
		</div>
		<p>
			<button type="submit" v-on="click: createAccount" class="full-width-button" v-attr="disabled: !account.email || !account.password">Create Account</button>
		</p>
		<p class="divider-for-alt">&mdash; Or &mdash;</p>
		<p class="alt-actions">
			<a href="/auth/google?returnTo={{returnPath}}" class="social-auth auth-google">Use Google Account</a>
		</p>
	</form>
</div>