@import url(https://fonts.googleapis.com/css?family=Bitter|Raleway);
@import 'partials/reset.css';

$dark: rgba(58, 42, 35, 1);
$dark_alt: #976f4b;
$dark_trans: rgba(58, 42, 35, 0.5);
$light: rgba(240, 241, 232, 0.75);
$lightest: rgba(255, 255, 255, 0.9);
$action: #5c7b93;
$action2: #7ea4b3;
$action3: #b0d5db;
$focus: #c38c59;
$error_light: #cfb4a9;
$error_dark: #9e3333;
$notice_light: #b7bdab;
$notice_dark: #4c5a31;

body {
	background-image: url(../img/blurred1.jpg);
	background-repeat: repeat-y;
	background-size: 100%;
	background-position: top center;
	background-attachment: fixed;
	font-size: 18px;
	font-family: 'Bitter', serif;
	color: $dark;
}

#lbanne {
	margin: 0;
}

main {
	background-color: $light;
	padding-bottom: 2rem;

	& > div {
		margin: 0 auto;
		padding: 2rem;
		max-width: 960px;
	}
}

header {
	padding: 0;
	text-align: center;

	h1 {
		padding: 3rem 1rem 2rem 1rem;
		color: $lightest;
		text-shadow: 1px 1px 0.25rem $dark_trans;

		img {
			max-width: 12rem;
		}
	}

	nav {
		ul {
			margin: 0;
		}
	}
}

h1, h2, h3, h4 {
	font-family: 'Raleway', sans-serif;
	font-weight: normal;
	color: $dark_alt;
	text-transform: uppercase;
}

a {
	color: $action;

	&:hover {
		color: $action2;
	}

	&:active {
		color: $action3;
	}
}

:focus {
	outline: $focus auto 0.35rem;
	outline-offset: 0.15rem;
}

pre {
	font-size: 0.7rem;
	background-color: $light;
	padding: 1rem;
}

table {
	width: 100%;

	th {
		text-align: left;
		padding: 0.5rem;

		input, select {
			padding: 0.5rem;
			height: 2rem;
		}
	}

	thead tr:first-of-type {
		th {
			background-color: $dark;
			color: $light;
		}
	}

	td {
		padding: 0.5rem;
	}

	tr:nth-of-type(odd) {
		background-color: $light;
	}

	button {
		padding: 0.5rem 1rem;
	}
}

label {
	display: block;
	margin-bottom: 0.5rem;
}

input, select {
	font-family: 'Bitter', serif;
	font-size: 1rem;
	background-color: $dark_trans;
	padding: 1rem;
	height: 3rem;
	border: none;
	border-radius: 0.25rem;
	color: $light;
	display: block;
	width: 100%;
}

button, [type="submit"] {
	background-color: $action;
	color: $light;
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.5rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	cursor: pointer;

	&:hover {
		background-color: $action2;
		color: $lightest;
	}

	&:active {
		background-color: $action3;
		color: $dark;
	}

	&.full-width-button {
		width: 100%;
	}
}

.fade-transition {
	transition: all 300ms ease-in;
	opacity: 1;
}

.fade-enter, .fade-leave {
	opacity: 0;
}

nav {
	ul {
		margin: 0 0 1rem 0;
		padding: 0;
		list-style: none;
		display: flex;

		li {
			flex: 1;
			display: flex;

			a {
				flex: 1;
				display: flex;
				background-color: $action;
				color: $lightest;
				justify-content: center;
				padding: 0.5rem;
				text-decoration: none;

				&:hover {
					background-color: $action2;
					color: $lightest;
				}

				&:active {
					background-color: $action3;
					color: $dark;
				}
			}
		}
	}
}

.button-group {
	display: flex;

	.right {
		margin-left: auto;
	}
}

.button-secondary {
	background-color: $dark_alt;
	padding: 0.5rem 1rem;
}

.social-auth {
	padding: 1rem 2rem;
	border: none;
	border-radius: 0.5rem;
	font-family: 'Raleway', sans-serif;
	font-size: 0.9rem;
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;

	&.auth-google {
		background-color: #c32f10;

		&:hover {
			color: $lightest;
		}
	}
}

.alt-actions {
	margin-top: 2rem;
	text-align: center;
}

.error, .notice {
	border-radius: 0.25rem;
	padding: 1rem 2rem 1rem 1rem;
	position: relative;

	& > button {
		background-color: transparent;
		padding: 0;
		font-size: 2rem;
		position: absolute;
		top: 1rem;
		right: 1rem;
		line-height: 0.5;
	}

	p:last-of-type {
		margin-bottom: 0;
	}
}

.error {
	background-color: $error_light;
	border: 2px solid $error_dark;
	color: $error_dark;

	& > button {
		color: $error_dark;
	}
}

.notice {
	background-color: $notice_light;
	border: 2px solid $notice_dark;
	color: $notice_dark;

	& > button {
		color: $notice_dark;
	}
}

