<!DOCTYPE html>
<html>
	<head>
		<meta name="format-detection" content="telephone=no">
		<meta name="msapplication-tap-highlight" content="no">
		<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
		<link rel="stylesheet" type="text/css" href="css/app.css">
		<title>Lye Brary Anne</title>
	</head>
	<body>
		<div id="lbanne">
			<header>
				<h1>Lye Brary Anne</h1>
			</header>
			<main>
				<section>
					<form>
						<div>
							<label for="item-title">Title</label>
							<input id="item-title" type="text" v-model="item.title">
						</div>
						<div>
							<label for="item-type">Type</label>
							<input id="item-type" type="text" v-model="item.type">
						</div>
						<div>
							<label for="item-system">System</label>
							<input id="item-system" type="text" v-model="item.system">
						</div>
						<div>
							<button type="submit" v-on="click: addItem">Add Item</button>
						</div>
						<pre>{{item | json 2}}</pre>
					</form>
				</section>
				<section>
					<h2>Listing</h2>
					<table>
						<thead>
							<tr>
								<th>Title</th>
								<th>Type</th>
								<th>System</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							<tr v-repeat="item in items">
								<td>{{item.title}}</td>
								<td>{{item.type}}</td>
								<td>{{item.system}}</td>
								<td><button v-on="click: removeItem($event, item)">Delete</button></td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<pre>{{items | json 2}}</pre>
				</section>
			</main>
		</div>
		<script type="text/javascript" src="cordova.js"></script>
		<script type="text/javascript" src="js/bundle.js"></script>
	</body>
</html>
